body{
	margin:0;
	padding:0;
	font-family:  Catamaran, sans-serif;
	
}

section > img{
	    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
}

section{
	position: relative;
}


section:after{
	content: "";
	    top: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
background: rgba(80, 93, 6, 0.2);
z-index:0;}
	
	
	
	
	
	
	h1{
		color : #2C3E50;
	    padding-left: 75px;
    font-size: 40px;
    display: inline;
    float: left;
    margin: 0;;
}
	}

	
	.form input{
		margin: 0px auto;
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
	}
	
	.from{
	     color: black;
    background: rgba(245, 242, 242, 0.36);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
	}
	
	.logo{
		    width: 100%;
	}
	
	.logo> img{
		      padding-top: 15px;
    padding-left: 5px;
    width: 50px;
	}
	
	form{
		    margin: 0 auto;
    width: 90%;
	}
	
	
	.name{}
	.name input{
		background:#FFFFFF;
		
	margin-top: 10px;
    padding: 8px;
    display: block;
    width: 100%;
    border: 1px solid #c1c3be;;
	}
	
	.box input{}
	
	.box a{
		   text-decoration: none;
    float: right;
    text-transform: capitalize;
    color: #1F5F8B;
	}
	.box{
		    margin-top: 15px;
    /* margin: 10; */
    /* padding: 2px; */
    margin-bottom: 15;
	}
	
	
		.submit input{
			margin-top: 12px;
			 border: 1px solid #c1c3be;
			    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 8px;
    background: #1F5F8B;
		}
	.submit{}
	.join{
		    text-align: center;
	}
	
	.join p{}
	.join p a{
		 text-decoration: none;
    color: #1F5F8B;
	}
	
	
	
